body {
    margin: 0;
    font-family: Helvetica, Sans-Serif;
    background-image: linear-gradient(#A34FF7, #C600B7);
    background-repeat: no-repeat;
    background-size: 100% 600px;

}

.signin {
    display: flex;
    color: black;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;


}

ul {
    list-style-type: none;
    color: black;
    text-align: center;
    padding: 0;
}

li {
    color: black;
    font-size: small;
    text-align: center;
}

a {
    border-style: solid;
    border-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.442);
    border-radius: 3rem;
    margin-right: 25px;
    margin-left: 25px;
    text-decoration: none;
    color: black;
    background-color: white;
    justify-content: center;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

h1 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 5em;
    margin-bottom: 0;
}

p {
    display: flex;
    justify-content: center;
    margin: 0;
    color: white;
}

.getstarted {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 100px;
}

.promoimg {
    display: flex;
    justify-content: center;
}

.dash {
    width: 5000px;
    height: auto;
}

.payment {
    display: flex;
    justify-content: center;
}

.deliveryautomation {
    color: black;
    font-size: 2rem;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 10px;
}

.customer {
    color: black;
    text-align: center;
}

.sickofthisnowtbh {
    display: flex;
    justify-content: center;
}